*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height:150vh;
    background-color: rgb(36, 36, 61);
    position: relative;
}
header{
    height: 10%;
    width:100%;
    background-color: #fff;
    border-bottom-left-radius: 100px;
}
footer{
    position: absolute;
    height: 10%;
    width:100%;
    background-color: #fff;
    border-top-right-radius: 100px;
    bottom: 0;
}
.row-content{
    width:90%;
    margin: 50px auto;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 25px;
}
.top-part{
    display: flex;
    padding: 20px 0;
    position: relative;
}
.top-part div {
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}
.top-part div:after{
    content:'';
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    left: 55px;
    top: 42px;
}
.top-part p{
    position: absolute;
    left: 54px;
    top: 50px;
    font-size: 14px;
    color: #fff;
}
.first-col .top-part div{
    background-color: #22A75D;
    box-shadow: 0px 3px 10px 0px #22A75d;
}
.first-col .top-part div:after{
    background-color: #22A75D;
}
.second-col .top-part div{
    background-color: #2278D4;
    box-shadow: 0px 3px 10px 0px #2278D4;
}
.second-col .top-part div:after{
    background-color: #2278D4;
}
.third-col .top-part div{
    background-color: #FFD100;
    box-shadow: 0px 3px 10px 0px #FFD100;
}
.third-col .top-part div:after{
    background-color: #FFD100;
}
.fourth-col .top-part div{
    background-color: #E20613;
    box-shadow: 0px 3px 10px 0px #E20613;
}
.fourth-col .top-part div:after{
    background-color: #E20613;
}
li{
    color:#9FA1A6;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.custom-counter {
    counter-reset: custom-counter; /* Initialize counter */
    list-style: none;
    padding-left: 0;
}

.custom-counter li {
    counter-increment: custom-counter; /* Increment counter */
    position: relative;
    padding-left: 30px; /* Space for custom counter */
}

.custom-counter li::before {
    content: counter(custom-counter, decimal-leading-zero); /* Custom counter format */
    position: absolute;
    left: 0;
    font-size: 14px;
}
.first-col .custom-counter li::before {
    color:#22A75D;
}
.second-col .custom-counter li::before {
    color:#2278D4;
}
.third-col .custom-counter li::before {
    color:#FFD100;
}
.fourth-col .custom-counter li::before {
    color:#E20613;
}
.about-section{
    margin-top:60px;
}
.title{
    display: flex;
    gap: 30px;
}
.title h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#fff;
}
.left-content{
width:90%;
}
.right-content{
width:90%;
height: 580px;
margin-left: auto;
position: relative;
}
.background-section {
    height: 96%;
    width: 90%;
    background-image: linear-gradient(to bottom, rgba(175, 186, 247, 0.853), rgb(17, 105, 200));
    margin-left: auto;
    border-radius: 10px;
}
 .right-content img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: -60px;
    top: -24px;
 }
 .description p{
    padding-top: 15px;
    font-family: Century Gothic;
    font-size: 16px;
    color:#9FA1A6;
 }
 .description p.bold{
    color:#9FA1A6;
    font-weight: 700;
 }
 button{
    padding: 12px 24px;
    border: 2px solid #4e944e;
    border-radius: 25px;
    margin-top: 20px;
    background: transparent;
    color:#fff;
 }

 @media(min-width:576px){
    .row-content{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
 @media(max-width:1024px){
    header,footer{
        display:none;
    }
    .row-content:first-child{
        margin-top:0;
    }
    .row-content:last-child{
        margin-bottom:0;
    }
    .container{
        height:100%;
    }
    .right-content{
        height: 400px;
    }
    .right-content,.background-section{
        width:100%;
    }
    .right-content img{
        position: static;
    }
}
 @media(max-width:567px){
    .row-content:first-child{
        margin-top:0;
    }
    .row-content:last-child{
        margin-bottom:0;
    }
    .left-content{
        display:none
    }
    .about-section{
        margin: 50px 0;
        width: 100%;
    }
    .first-col{
        grid-area:2
    }
    .third-col{
        grid-area:4;
    }
}